<div style="padding-top: 40px;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Razão Social</th>
        <th scope="col">Data de Abertura</th>
        <th scope="col">Telefone</th>
        <th scope="col">E-mail</th>
        <th scope="col">CEP</th>
        <th scope="col">Endereço</th>
        <th scope="col">Data Criação</th>
        <th scope="col">Última modificação</th>
        <th scope="col">Alterar</th>
        <th scope="col">Excluir</th>
        <th scope="col">Incluir Contato</th>
      </tr>
    </thead>
    <tbody *ngIf="!!clientes; else listaVazia">
        <tr *ngFor="let cliente of clientes">
          <td scope="row">{{cliente?.id}}</td>
          <td scope="row">{{cliente?.cnpj}}</td>
          <td scope="row">{{cliente?.razao}}</td>
          <td scope="row">{{cliente?.dataAbertura | date:"short" }}</td>
          <td scope="row">{{cliente?.telefone}}</td>
          <td scope="row">{{cliente?.email}}</td>
          <td scope="row">{{cliente?.cep}}</td>
          <td scope="row">{{cliente?.endereco}}</td>
          <td scope="row">{{cliente?.createdAt | date:"short"}}</td>
          <td scope="row">{{cliente?.updatedAt | date:"short" }}</td>
          <td scope="row"><button class="btn btn-warning" (click)="alterar(cliente)">Alterar</button></td>
          <td scope="row"><button class="btn btn-danger" (click)="excluir(cliente)">Excluir</button></td>
          <td scope="row"><a routerLink="/contato"><button class="btn btn-success">Incluir Contato</button></a></td>
        </tr>
    </tbody>
    <ng-template #listaVazia>
      <p>Nenhum cliente cadastrado</p>
    </ng-template>
  </table>
</div>
