<div *ngIf="clientes.length == 0; else temCliente">
  <form (ngSubmit)="pesquisar()">
    <div class="mb-3">
      <label for="id">ID</label>
      <input type="text" name="id" id="id" [(ngModel)]="id" class="form-control">
    </div>
    <button class="btn btn-primary">Pesquisar</button>
  </form>
</div>

<ng-template #temCliente>
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Estado Civil</th>
        <th scope="col">Pai</th>
        <th scope="col">Mãe</th>
        <th scope="col">Cônjuge</th>
        <th scope="col">RG</th>
        <th scope="col">Salário</th>
        <th scope="col">Espécie</th>
        <th scope="col">Título de Eleitor</th>
        <th scope="col">Sexo</th>
        <th scope="col">Celular</th>
        <th scope="col">CEP</th>
        <th scope="col">Endereço</th>
        <th scope="col">Complemento</th>
        <th scope="col">Número</th>
        <th scope="col">Bairro</th>
        <th scope="col">E-mail</th>
        <th scope="col">Cidade</th>
        <th scope="col">Data de Nascimento</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
          <td scope="row">{{cliente?.nome}}</td>
          <td scope="row">{{cliente?.cpf}}</td>
          <td scope="row">{{cliente?.estadocivil}}</td>
          <td scope="row">{{cliente?.pai}}</td>
          <td scope="row">{{cliente?.mae}}</td>
          <td scope="row">{{cliente?.conjuge}}</td>
          <td scope="row">{{cliente?.rg}}</td>
          <td scope="row">{{cliente?.salario | currency}}</td>
          <td scope="row">{{cliente?.especie}}</td>
          <td scope="row">{{cliente?.titulodeeleitor}}</td>
          <td scope="row">{{cliente?.sexo}}</td>
          <td scope="row">{{cliente?.celular}}</td>
          <td scope="row">{{cliente?.cep}}</td>
          <td scope="row">{{cliente?.endereco}}</td>
          <td scope="row">{{cliente?.complemento}}</td>
          <td scope="row">{{cliente?.numero}}</td>
          <td scope="row">{{cliente?.bairro}}</td>
          <td scope="row">{{cliente?.email}}</td>
          <td scope="row">{{cliente?.cidade}}</td>
          <td scope="row">{{cliente?.datadenascimento | date:"short"}}</td>
        </tr>
    </tbody>
  </table>
</ng-template>
